body {
  background-color: #1e1d28;
  padding-left: 10%;
  padding-right: 10%;
}

Footer {
  height: 240px;
}

#logo {
  height: 240px;
  position: absolute;
  padding-top: 120px;
}

h1 {
  color: #57fff2;
  font-size: 3em;
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  width: 16em;
  padding-top: 400px;
}

p {
  color: #eae9e8;
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.6em;
  width: 22em;
  padding-bottom: 16px;
}

button {
  padding: 1rem 1.25rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  text-shadow:
    -2px 4px 4px #091243,
    0 0 10px #00D0FF,
    inset 1px 1px 1px white;
  color: #57fff2;
  border: 2px solid;
  border-radius: 3px;
  background-color: transparent;
  box-shadow:
    0 1px 2px rgba(0,0,0, 0.6),
    2px 1px 4px rgba(0,0,0, 0.3),
    2px 4px 3px rgba(3,0,128, 0.3),
    0 0 7px 2px rgba(0,208,255, 0.6),
    inset 0 1px 2px rgba(0,0,0, 0.6),
    inset 2px 1px 4px rgba(0,0,0, 0.3),
    inset 2px 4px 3px rgba(3,0,128, 0.3),
    inset 0 0 7px 2px rgba(0,208,255, 0.6);
  }

  button:hover {
    padding: 1rem 1.25rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    transition: .2s;
    color: #1e1d28;
    border-radius: 3px;
    background-color: #57fff2;
    }

@media screen and (max-width: 825px) {
        h1 {
            width: 11em;
            font-size: 2.1em;
            padding-top: 380px;
        }

@media screen and (max-width: 600px) {
                h1 {
                    width: 11em;
                    font-size: 2.1em;
                    padding-top: 320px;
                }


@media screen and (max-width: 600px) {
    p {
        width: 18em;
    }

@media screen and (max-width: 600px) {
            #logo {
              height: 180px;
              position: absolute;
              padding-top: 120px;
            }
