body {
  background-color: #1e1d28;
  padding-left: 10%;
  padding-left: 10%;
  overflow: hidden;
}

#logo {
  height: 240px;
  position: absolute;
  padding-top: 140px;
}

h1 {
  color: #57fff2;
  font-size: 3em;
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  width: 16em;
  padding-top: 440px;
}

p {
  color: #eae9e8;
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.6em;
  width: 22em;
  padding-top: 20px;
}




@media screen and (max-width: 900px) {
        h1 {
            width: 11em;
            font-size: 2.1em;
            padding-top: 420px;
        }

@media screen and (max-width: 600px) {
    p {
        width: 18em;
    }

@media screen and (max-width: 600px) {
            #logo {
              height: 180px;
              position: absolute;
              padding-top: 180px;
            }
